@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');


*{
margin:0;
padding: 0;
box-sizing: border-box;
}

body{
    font-family: "Raleway", sans-serif;
}

.main_container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: 3px blue;


}
header{
    background-color: #00B382;
    
    
}
.logo{
    display: flex;
     background-color: rgb(17, 15, 15);
    border-radius: 50%;
    color: azure;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
} 
#logo-crop{
    width: 40px;
    height: 40px;
    
    background-size: cover;
    border-radius: 50%;
    /* border: 2px solid red; */
}
.Jomasy{
    font-size: 40px;
    color: white;
    margin-left: 20px;
    font-weight: bolder;
    /* font-family:  "Foldit", sans-serif; */
    font-family:  "Grey Qo",cursive;
    /* border: 2px solid red; */
    margin-left: 2px;
}
.cart-parent{
    display: flex;
    position: relative;
}
.cart{
    color:white;
    width: 40px;
    height: 40px;
}

.input{
    background-color: rgb(231, 236, 230);
    color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    position: absolute;
    top:0px;
    left: 25px;
    border: none;
    outline: none;
    font-size: 10px;
    padding: 0 5px;
    font-weight: bolder;
}
 .product_container{
    /* border: 2px solid red; */
    gap: 50px;
    /* background-color: rgb(252, 252, 213); */
    background-color: rgb(81, 81, 79);
    /* background-color: gray; */
    justify-content: center;
    align-items: center;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;  */
    
} 

.product_cardie{
   box-shadow: 0px 0px 7px 0.5px rgb(175, 163, 163);
    /* background-color: rgb(224, 222, 222); */
    background-color: white;
    width: 22%;
    border-radius: 5px;
    transition: 0.4s ease;
    padding: 20px 20px;
    

}

.product_cardie:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px 0.5px rgb(175, 163, 163);
    transform: scale(1.05, 1.05);


}
#product_cardie_image{
    width: 200px;
    height: 200px ;
    border-radius: 5px;
}
.product_cardie_text{
    display: flex;
    font-size: 13.5px;
    
    
}
.one{
    display: flex;
    font-size: 13.5px;
    margin: 0px 0px 0px;
    justify-self: flex-start;
    align-self: flex-start;
}
.button_now{
    background-color: #00B382;
    /* background-color: rgb(5, 82, 38); */
    color: white;
    padding: 9px 15px;
    font-size: 14px;
    width:200px;
    border-radius:10px;
    border: none;
    outline: none;
    box-shadow: inset 0px 0px 0px 2px rgb(240, 243, 241) ;
    justify-self: flex-start;
    align-self: flex-start;
}

.button_now:hover{
    background-color: rgba(15, 105, 54, 0.637);
    box-shadow: 0px 0px 0px 2px  rgba(7, 78, 38, 0.637); 


}
.footer{
    background-color: #00B382 ;
}

.socials{
    display: flex;
    justify-content: center;
    gap: 20px;
    
   
}
.footbtn{
    background-color: black;
}
.social{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    color: black;
}

.facebook{
    color: rgb(30, 30, 184);
}
.instagram{
    color: rgb(180, 8, 8);
}
.twitter{
    color: rgb(10, 10, 10);
}

